@import "tailwindcss";
:root {
  font-family: cursive;
  /*
  background-color: rgb(66, 176, 219);
  */
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body{
    color: rgba(0, 0, 0, 0.616);
  min-height: 100vh;
  width: 100%;
  padding: 3rem;
  background: linear-gradient(to bottom, rgb(66, 176, 219) , skyblue);
  background: linear-gradient(to left, rgb(102, 186, 219) , skyblue);
}