@import "tailwindcss";
:root {
  font-family: cursive;
  background: linear-gradient(to right, #1b2329,  #111a21);
  color: #f6f7f8;
  /*
  background-color: rgb(66, 176, 219);
  */
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.border-primary{
  border-color: #1986e6;
}
.bg-primary{
  background-color:  #1986e6;
}

body{
    /* color: rgba(0, 0, 0, 0.616); */
  min-height: 100vh;
  width: 100%;
  /* background: linear-gradient(to bottom, rgb(66, 176, 219) , skyblue);
  background: linear-gradient(to left, rgb(102, 186, 219) , skyblue); */
}